// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.button {
  display: block;
  width: fit-content;
  padding: 13px 43px;

  letter-spacing: 0.1rem;

  background-color: transparent;
  border: 2px solid $color-primary;
  border-radius: 10rem;
  cursor: pointer;

  @extend %transition;

  &_colored {
    background-color: $color-primary;
  }

  &__arrow_back,
  &__arrow_forward {
    width: 52px;
    height: 52px;
    padding: 0;

    border-radius: 50%;
  }

  &__arrow_back {
    background: url(../assets/img/arrow-back.png) 50% 50% no-repeat;
  }

  &__arrow_forward {
    background: url(../assets/img/arrow-forward.png) 50% 50% no-repeat;
  }

  &:hover,
  &:focus {
    background-color: $color-primary-light;
  }
}