// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.button {
  padding: 13px 43px;

  letter-spacing: 0.1rem;

  background-color: transparent;
  border: 2px solid $color-primary;
  border-radius: 10rem;
  cursor: pointer;

  @extend %transition;

  &_colored {
    background-color: $color-primary;
  }

  &:hover,
  &:focus {
    background-color: $color-primary-light;
  }
}