.about {
  width: 100%;
  margin: 0 auto;

  background-image: $gradient-background-image-2x;
}

.about__container {
  @extend %flex-centered;
  flex-wrap: wrap;
  column-gap: 12rem;
  padding-top: 6.9rem;
  padding-bottom: 8.35rem;

  background-color: $color-light-xl;
}

.about__title {
  width: 37rem;
  margin-bottom: 2.4rem;
}

.about__content {
  width: 43rem;
  margin-bottom: 0.5rem;
}

.about__description {
  margin-bottom: 2.5rem;
}
