.donation {
  width: 100%;
  margin: 0 auto;

  background-image: $gradient-background-image-2x;
}

.donation__container {
  @extend %flex-centered;
  flex-wrap: wrap;
  column-gap: 3rem;
  padding-top: 5.5rem;
  padding-bottom: 8.8rem;

  background-color: $color-light-l;
}

.puppy-need-money-figure {
  margin-top: 2.2rem;
}

.section-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 0.4rem;
  width: 38rem;
}

.donation__title {
  margin-bottom: 0;
}

.card-entry-data {
  display: flex;
  column-gap: 1.5rem;
  width: 35rem;
  padding: 1.05rem 1.5rem;

  background-color: $color-primary;
  border-radius: 0.9rem;
}

.donation__description {
  margin-top: 1.6rem;
}
