.donation {
  width: 100%;
  margin: 0 auto;

  background-image: $gradient-background-image-2x;
}

.donation__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
  min-height: 46.2rem;

  background-color: $color-light-l;
}

.puppy-need-money-figure {
  margin-bottom: 1rem;
}

.section-content {
  display: flex;
  flex-direction: column;
  width: 38rem;
  padding-right: 2rem;
  padding-bottom: 3.5rem;
}

.donation__title {
  margin-bottom: 0;
}

.card-entry-title {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.card-entry-data {
  display: flex;
  gap: 1.5rem;
  width: 35rem;
  margin-bottom: 0.8rem;
  padding: 1rem 1.5rem;

  background-color: $color-primary;
  border-radius: 0.9rem;
}
