.our-friends {
  width: 100%;
  margin: 0 auto;

  background-image: $gradient-background-image-2x;
}

.our-friends__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5.4rem;
  padding-bottom: 10rem;

  background-color: $color-light-l;

  &_small {
    min-height: 87.7rem;
  }

  &_big {
    min-height: 134.4rem;
  }
}

.our-friends__title {
  width: 40rem;
  margin-bottom: 0;

  text-align: center;
}
