.our-friends {
  width: 100%;
  margin: 0 auto;

  background-image: $gradient-background-image-2x;
}

.our-friends__container {
  @extend %flex-column-centered;
  padding-top: 5.35rem;
  padding-bottom: 10.1rem;

  background-color: $color-light-l;
}

.our-friends__title {
  width: 40rem;
  margin-top: 3.05rem;
  margin-bottom: 0;

  text-align: center;
}
