<!--============ Footer ============-->

<footer class="footer" id="footer">

  <div class="container footer__container">

    <div class="contacts">
      <h3 class="section-title contacts__title">For questions and suggestions</h3>

      <ul class="contacts__list">
        <li class="contacts__item">
          <img src="assets/svg/icon-email.svg" width="40" height="32" alt="icon: email">
          <a class="contact-link" href="mailto:email@shelter.com" target="_blank">email@shelter.com</a>
        </li>
        <li class="contacts__item">
          <img src="assets/svg/icon-phone.svg" width="40" height="32" alt="icon: phone">
          <a class="contact-link" href="tel:+136745677554" target="_blank">+13 674 567 75 54</a>
        </li>
      </ul>
    </div>
    <!-- /.contacts -->

    <div class="locations">
      <h3 class="section-title locations__title">We are waiting for your visit</h3>

      <ul class="locations__list">
        <li class="locations__item">
          <img src="assets/svg/icon-marker.svg" width="22" height="32" alt="icon: map marker">
          <a class="contact-link" href="https://goo.gl/maps/CYcZMuRXZmSygheJ9" target="_blank">1 Central Street, Boston
            (entrance from
            the
            store)</a>
        </li>
        <li class="locations__item">
          <img src="assets/svg/icon-marker.svg" width="22" height="32" alt="icon: map marker">
          <a class="contact-link" href="https://goo.gl/maps/XuKRpTPan76pECzq6" target="_blank">18 South Park, London</a>
        </li>
      </ul>
    </div>
    <!-- /.locations -->

    <figure class="licking-puppy-figure">
      <img src="assets/img/footer-puppy.png" alt="Puppy licks you sweetie" width="300" height="310">
    </figure>

  </div>
  <!-- /.container -->
</footer>
<!-- /.footer -->