<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="robots" content="index, follow">
  <title>{{ title }}</title>
  <meta name="description" content="{{ content }}">
  <link rel="icon" href="assets/img/img/favicon/favicon.ico" type="image/x-icon">
  <link rel="icon" type="image/png" href="assets/img/favicon/logo-pet-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="assets/img/favicon/logo-pet-16x16.png" sizes="16x16">
  <link href="assets/img/favicon/logo-pet-96x96.png" rel="shortcut icon" type="image/x-icon">
  <link href="assets/img/favicon/logo-pet-96x96.png" rel="icon" type="image/x-icon">
  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="assets/img/favicon/logo-pet-57x57.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/img/favicon/logo-pet-72x72.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/img/favicon/logo-pet-114x114.png">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/img/favicon/logo-pet-144x144.png">
  <link rel="stylesheet" href="css/style.min.css">
  <link href='https://api.mapbox.com/mapbox-gl-js/v2.5.0/mapbox-gl.css' rel='stylesheet' />
</head>