<header class="header">
  <div class="container header__container">

    <div class="header__logo">
      <h1 class="logo-title">
        <a class="logo-title__link" href="./" title="Cozy House logo. Click on it to return to the heading">Cozy
          House</a>
      </h1>
      <p class="logo-subtitle">Shelter for pets in Boston</p>
    </div>
    <!-- /.header__logo -->

    {{> navigation }}

  </div>
  <!-- /.container -->
</header>
<!-- /.header -->