<div class="multiline-slider">

  <ul class="friend-list friend-list_multiline">

    {{! Data is retrieved from src.data}}
    {{#each friend-cards}}

    {{> friend-card}}

    {{/each}}

  </ul>
  <!-- /.friend-list -->

</div>
<!-- /.multiline-slider -->

<div class="pagination">

  <button class="button button_circle isDisabled" title="Click to scroll to the very beginning">&#60;&#60;</button>
  <button class="button button_circle isDisabled" title="Click to scroll back">&#60;</button>
  <button class="button button_colored button_circle button_page-num" title="Click to choose that page">1</button>
  <button class="button button_circle" title="Click to scroll forward">&#62;</button>
  <button class="button button_circle" title="Click to scroll to the very end">&#62;&#62;</button>

</div> <!-- /.pagination -->