<nav class="navigation">
  <ul class="navigation-list">
    <li class="navigation__item">
      <a class="navigation__item-link" href="./index.html">About the shelter</a>
    </li>
    <li class="navigation__item">
      <a class="navigation__item-link" href="./our-pets.html">Our pets</a>
    </li>
    <li class="navigation__item">
      {{#if isHome}}
      <a class="navigation__item-link" href="#help">Help the shelter</a>
      {{else}}
      <a class="navigation__item-link" href="./#help">Help the shelter</a>
      {{/if}}
    </li>
    <li class="navigation__item">
      {{#if isHome}}
      <a class="navigation__item-link" href="#footer">Contacts</a>
      {{else}}
      <a class="navigation__item-link" href="./#footer">Contacts</a>
      {{/if}}
    </li>
  </ul>
  <!-- /.navigation -->
</nav>
<!-- /.navigation -->