<div class="single-line-slider">

  <button class="button button_circle button_page-num" title="Click to scroll back">←</button>

  <ul class="friend-list friend-list_single-line">

    {{! Data is retrieved from src.data}}
    {{#each friend-cards-short}}

    {{> friend-card}}

    {{/each}}

  </ul>
  <!-- /.friend-list -->

  <button class="button button_circle button_page-num" title="Click to scroll forward">→</button>

</div>
<!-- /.single-line-slider -->

<a class="button button_colored" href="./our-pets.html" target="_blank" rel="nofollow"
  title="Click to make a friend">Get to know the rest</a>