/**
 * Basic typography style for copy text
 */
.body {
  font: $paragraph-l;
  color: $color-dark-3xl;
}

.navigation__item-link {
  color: $color-dark-s;

  &:hover,
  &:focus {
    color: $color-light-s;
  }

  &:active {
    color: $color-light-s;

    border-bottom: 3px solid $color-primary;
  }
}

.logo-title__link {
  font: $logo-title;
  color: $color-primary;
  letter-spacing: 0.192rem;

  &:hover,
  &:focus {
    color: $color-primary-light;
    text-shadow: 1px 1px 1px $color-primary;
  }
}

.logo-subtitle {
  font: $logo-subtitle;
  color: $color-light-xl;
  letter-spacing: 0.13rem;
}

.start-screen__title {
  font: $h1;
  color: $color-light-xl;
}

.start-screen__description {
  font: $paragraph-l;
  color: $color-dark-s;
}

.button {
  font: $button-font;
  color: $color-dark-3xl;
}

.section-title {
  font: $h2;
  color: $color-dark-l;
  letter-spacing: 0.21rem;
}

.about__description {
  font: $paragraph-l;
  color: $color-dark-xl;
}

.friend-card__name {
  font: $card-font;
  color: $color-dark-l;
  letter-spacing: 0.12rem;
}

.help-type__name {
  font: $h3;
  color: $color-dark-l;
  letter-spacing: 0.12rem;
}

.card-entry-title {
  font: $h4;
  color: $color-dark-l;
  letter-spacing: 0.09rem;
}

.card-number {
  font: $h3;
  color: $color-dark-l;
  letter-spacing: 0.12rem;
}

.donation__description {
  font: $paragraph-s;
  color: $color-dark-m;
}

.contacts__title,
.locations__title {
  color: $color-light-xl;
}

.contact-link {
  font: $h3;
  color: $color-primary;
  letter-spacing: 0.12rem;

  &:hover,
  &:focus {
    color: $color-primary-light;
    text-shadow: 1px 1px 1px $color-primary;
  }
}
