%transition {
  transition: all 0.4s ease-in-out;
}

%flex-centered-items-space-btw {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

%flex-column-space-btw {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
