// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Fonts

$h1: normal 400 4.4rem/5.72rem "Georgia-Regular";
$h2: normal 400 3.5rem/4.4rem "Georgia-Regular";
$h2-mobile: normal 400 2.5rem/3.25rem "Georgia-Regular";
$h3: normal 400 2rem/2.3rem "Georgia-Regular";
$h4: normal 400 1.5rem/1.65rem "Georgia-Regular";
$h4-modal-window: normal 700 1.5rem/1.65rem "Georgia-Bold";
$paragraph-l: normal 400 1.5rem/2.4rem "Arial-Regular";
$paragraph-s: italic 400 1.2rem/1.8rem "Arial-Regular";
$paragraph-mobile-menu: normal 400 3.2rem/5.12rem "Arial-Regular";
$logo-title: normal 400 3.2rem/3.52rem "Georgia-Regular";
$logo-subtitle: normal 400 1.3rem/1.3rem "Arial-Regular";
$button-font: normal 400 1.7rem/2.2rem "Georgia-Regular";
$card-font: normal 400 2rem/normal "Georgia-Regular";



/// Colors

/// @type Color
$color-light-xl: #ffffff !default;

/// @type Color
$color-light-l: #f6f6f6 !default;

/// @type Color
$color-light-s: #fafafa !default;

/// @type Color
$color-dark-s: #cdcdcd !default;

/// @type Color
$color-dark-m: #b2b2b2 !default;

/// @type Color
$color-dark-l: #545454 !default;

/// @type Color
$color-dark-xl: #4c4c4c !default;

/// @type Color
$color-dark-2xl: #444444 !default;

/// @type Color
$color-dark-3xl: #292929 !default;

/// @type Color
$color-primary: #f1cdb3 !default;

/// @type Color
$color-primary-light: #fddcc4 !default;

/// @type Background
$gradient-background-image: url('../assets/img/noise_transparent.png'), linear-gradient(90deg, rgba(91,72,58,1) 0%, rgba(38,36,37,1) 100%) !default;

/// @type Background
$gradient-background-image-2x: url('../assets/img/noise_transparent@2x.png'), linear-gradient(90deg, rgba(81,61,47,1) 0%, rgba(26,26,28,1) 100%) !default;

/// @type Shadow
// "filter: drop-shadow(...);" or "box-shadow: ...;"
$card-hover: drop-shadow(0px 2px 35px 14px rgba(13, 13, 13, 4%));



/// Container's maximum width
/// @type Length
$max-width: 1280px !default;



/// Relative or absolute URL where all assets are served from
/// @type String
$base-url: '/assets/' !default;
