// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Fonts

$h2: normal 400 4.4rem/5.72rem "Georgia-Regular";
$h3: normal 400 3.5rem/4.55rem "Georgia-Regular";
$h3-mobile: normal 400 2.5rem/3.25rem "Georgia-Regular";
$h4: normal 400 2rem/2.3rem "Georgia-Regular";
$h5: normal 400 1.5rem/1.65rem "Georgia-Regular";
$h5-modal-window: normal 700 1.5rem/1.65rem "Georgia-Bold";
$paragraph-l: normal 400 1.5rem/2.4rem "Arial-Regular";
$paragraph-s: normal 400 1.2rem/1.8rem "Arial-Italic";
$paragraph-mobile-menu: normal 400 3.2rem/5.12rem "Arial-Regular";
$logo_title: normal 400 3.2rem/3.52rem "Arial-Regular";
$logo_subtitle: normal 400 1.3rem/auto "Georgia-Regular";



/// Colors

/// @type Color
$color-light-xl: #ffffff !default;

/// @type Color
$color-light-l: #f6f6f6 !default;

/// @type Color
$color-light-s: #fafafa !default;

/// @type Color
$color-dark-s: #cdcdcd !default;

/// @type Color
$color-dark-m: #b2b2b2 !default;

/// @type Color
$color-dark-l: #545454 !default;

/// @type Color
$color-dark-xl: #4c4c4c !default;

/// @type Color
$color-dark-2xl: #444444 !default;

/// @type Color
$color-dark-3xl: #292929 !default;

/// @type Color
$color-primary: #f1cdb3 !default;

/// @type Color
$color-primary-light: #fddcc4 !default;

/// @type Background
$start-screen-gradient-background: linear-gradient(90deg, rgba(91,72,58,1) 0%, rgba(38,36,37,1) 100%),url('../assets/img/noise_transparent.png') !default;

/// @type Background
$footer-gradient-background: linear-gradient(90deg, rgba(81,61,47,1) 0%, rgba(26,26,28,1) 100%),url('../assets/img/noise_transparent.png') !default;

/// @type Shadow
// "filter: drop-shadow(...);" or "box-shadow: ...;"
$card-hover: drop-shadow(0px 2px 35px 14px rgba(13, 13, 13, 4%));



/// Container's maximum width
/// @type Length
$max-width: 1280px !default;



/// Relative or absolute URL where all assets are served from
/// @type String
$base-url: '/assets/' !default;
