<!--============  About ============-->

<section class="about" id="about">

  <div class="container about__container">

    <figure class="about-figure">
      <img src="assets/img/about-pets.png" alt="Puppy and pussy look at you with hope" width="300" height="408">
    </figure>

    <div class="about__content">
      <h2 class="section-title about__title">About the shelter “Cozy House”</h2>
      <p class="about__description">Currently we have 121 dogs and 342 cats on our hands and statistics show that
        only 20% of them will find a family. The
        others will continue to live with us and will be waiting for a lucky chance to become dearly loved.</p>
      <p class="about__description">We feed our wards with the best food and make sure that they do not get sick,
        feel comfortable (including
        psychologically) and well. We are supported by 87 volunteers and 28 employees of various skill levels.
        About
        12% of the
        animals are taken by the shelter staff. Taking care of the animals, they become attached to the pets and
        would hardly
        ever leave them alone.</p>
    </div>

  </div>
  <!-- /.container -->
</section>
<!-- /.about -->