<!--============== Donation ==============-->

<section class="donation" id="donation">

  <div class="container donation__container">

    <figure class="puppy-need-money-figure">
      <img src="assets/img/donation-dog.png" alt="Puppy is sad without money" width="505" height="261">
    </figure>

    <div class="section-content">
      <h2 class="section-title donation__title">You can also<br> make a donation</h2>
      <h3 class="card-entry-title">Name of the bank / Type of bank account</h3>
      <div class="card-entry-data">
        <img class="card-icon" src="assets/svg/credit-card.svg" width="30" height="23" alt="icon: credit card">
        <a class="card-number" href="#" target="_blank" rel="noopener noreferrer">8380 2880 8028 8791 7435</a>
      </div>
      <p class="donation__description">Legal information and lorem ipsum dolor sit amet, consectetur adipiscing
        elit. Maecenas a ipsum at libero sagittis
        dignissim sed ac diam. Praesent ultrices maximus tortor et vulputate. Interdum et malesuada fames ac ante
        ipsum primis
        in faucibus.</p>
    </div>

  </div>
  <!-- /.container -->
</section>
<!-- /.donation -->