<!--================ Help ================-->

<section class="help" id="help">

  <div class="container help__container">

    <h2 class="section-title help__title">How you can help
      our shelter</h2>

    <ul class="help-types-list">

      <li class="help-type">
        <figure class="help-type__icon">
          <img src="assets/svg/icon-pet-food.svg" alt="icon: pet food" width="60" height="60">
          <figcaption class="help-type__name">Pet food</figcaption>
        </figure>
      </li>
      <!-- /.help-type -->
      <li class="help-type">
        <figure class="help-type__icon">
          <img src="assets/svg/icon-transportation.svg" alt="icon: pet food" width="60" height="60">
          <figcaption class="help-type__name">Transportation</figcaption>
        </figure>
      </li>
      <!-- /.help-type -->
      <li class="help-type">
        <figure class="help-type__icon">
          <img src="assets/svg/icon-toys.svg" alt="icon: pet food" width="60" height="60">
          <figcaption class="help-type__name">Toys</figcaption>
        </figure>
      </li>
      <!-- /.help-type -->
      <li class="help-type">
        <figure class="help-type__icon">
          <img src="assets/svg/icon-bowls-and-cups.svg" alt="icon: pet food" width="60" height="60">
          <figcaption class="help-type__name">Bowls and cups</figcaption>
        </figure>
      </li>
      <!-- /.help-type -->
      <li class="help-type">
        <figure class="help-type__icon">
          <img src="assets/svg/icon-shampoos.svg" alt="icon: pet food" width="60" height="60">
          <figcaption class="help-type__name">Shampoos</figcaption>
        </figure>
      </li>
      <!-- /.help-type -->
      <li class="help-type">
        <figure class="help-type__icon">
          <img src="assets/svg/icon-vitamins.svg" alt="icon: pet food" width="60" height="60">
          <figcaption class="help-type__name">Vitamins</figcaption>
        </figure>
      </li>
      <!-- /.help-type -->
      <li class="help-type">
        <figure class="help-type__icon">
          <img src="assets/svg/icon-medicines.svg" alt="icon: pet food" width="60" height="60">
          <figcaption class="help-type__name">Medicines</figcaption>
        </figure>
      </li>
      <!-- /.help-type -->
      <li class="help-type">
        <figure class="help-type__icon">
          <img src="assets/svg/icon-collars-leashes.svg" alt="icon: pet food" width="60" height="60">
          <figcaption class="help-type__name">Collars / leashes</figcaption>
        </figure>
      </li>
      <!-- /.help-type -->
      <li class="help-type">
        <figure class="help-type__icon">
          <img src="assets/svg/icon-sleeping-area.svg" alt="icon: pet food" width="60" height="60">
          <figcaption class="help-type__name">Sleeping areas</figcaption>
        </figure>
      </li>
      <!-- /.help-type -->

    </ul>
    <!-- /.help-types-list -->

  </div>
  <!-- /.container -->
</section>
<!-- /.help -->