<!--============  Our Friends ============-->

<section class="our-friends" id="our-friends">

  <div class="container our-friends__container">

    <h2 class="section-title our-friends__title">Our friends who<br>
      are looking for a house</h2>

    <div class="slider">

      <button class="button button__arrow_back" title="Click to scroll back"></button>

      <ul class="friend-list">

        <li class="friend-card">
          <figure class="friend-card__foto">
            <img src="assets/img/pets-katrine.png" alt="friend foto: Katrine" width="270" height="270">
            <figcaption class="friend-card__name">Katrine</figcaption>
            <button class="button" title="Click to learn more">Learn more</button>
          </figure>
        </li>
        <!-- /.friend-list__card -->

        <li class="friend-card">
          <figure class="friend-card__foto">
            <img src="assets/img/pets-jennifer.png" alt="friend foto: Jennifer" width="270" height="270">
            <figcaption class="friend-card__name">Jennifer</figcaption>
            <button class="button" title="Click to learn more">Learn more</button>
          </figure>
        </li>
        <!-- /.friend-list__card -->

        <li class="friend-card">
          <figure class="friend-card__foto">
            <img src="assets/img/pets-woody.png" alt="friend foto: Woody" width="270" height="270">
            <figcaption class="friend-card__name">Woody</figcaption>
            <button class="button" title="Click to learn more">Learn more</button>
          </figure>
        </li>
        <!-- /.friend-list__card -->

      </ul>
      <!-- /.friend-list -->

      <button class="button button__arrow_forward" title="Click to scroll forward"></button>

    </div>
    <!-- /.slider -->

    <a class="button button_colored" href="./our-pets.html" target="_blank" rel="nofollow"
      title="Click to make a friend">Get to know the rest</a>

  </div>
  <!-- /.container -->
</section>
<!-- /.our-friends -->