// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.header {
  width: 100%;
  margin: 0 auto;

  background-image: $gradient-background-image-2x;
}

.header__container {
  @extend %flex-centered-items-space-btw;
  padding-top: 5.75rem;

  &_secondary {
    padding-top: 2.75rem;
    padding-bottom: 2.75rem;
    background-color: $color-light-xl;
  }
}

.header__logo {
  @extend %flex-column-space-btw;
  align-items: center;
  row-gap: 0.5rem;
}

.logo-title,
.logo-subtitle {
  margin: 0;
}
