// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.header {
  width: 100%;
  height: 18rem;
  margin: 0 auto;

  background-image: $gradient-background-image-2x;
}

.header__container {
  @extend %flex-centered-items-space-btw;
  height: 100%;
}

.header__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 6rem;
  padding-top: 0.3rem;
}

.logo-title,
.logo-subtitle {
  margin: 0;
}
