.single-line-slider {
  @extend %flex-centered-items-space-btw;
  width: 100%;
  margin: 4.3rem auto;
}

.multiline-slider {
  width: 100%;
  margin: 4.3rem auto;
}

.friend-list {
  @extend %flex-centered-items-space-btw;
  flex-wrap: wrap;
  height: 100%;

  &_single-line {
    width: calc(100% - 21rem);
  }

  &_multiline {
    gap: 2.8rem 4rem;
    width: 100%;
  }
}

.friend-card__foto {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 27rem;

  background-color: $color-light-s;
  cursor: pointer;

  @extend %transition;

  &:hover,
  &:focus {
    background-color: $color-light-xl;
    border-radius: 10px;
    box-shadow:4px 4px 14px 4px rgba($color-dark-3xl, 0.6);

    & > .button {
      animation: pulseButton 1.6s infinite;
      // box-shadow:2px 2px 10px 2px rgba($color-primary, 0.6);
    }
  }

  & > * {
    margin-bottom: 3rem;
  }
}

@keyframes pulseButton {
  0% {
    box-shadow: 0 0 0 0 rgba($color-primary, 0.6);
  }  
  70% {
    box-shadow: 0 0 0 10px rgba($color-dark-3xl, 0);
  }  
  100% {
    box-shadow: 2px 2px 10px 2px rgba($color-primary, 0.2);
  }
}

.pagination {
  @extend %flex-centered-items-space-btw;
  column-gap: 2rem;
}
